<div class="card">
  <div class="card-body">
    <h1 class="card-title"><i class="fas fa-book-reader"></i> Storybooks</h1>
    <p class="card-text lead my-4 pb-4 border-bottom">
      Let's create your public and private stories of your life
    </p>
    <a href="/auth/google" class="btn btn-danger"
      ><i class="fab fa-google"></i> Log in With Google</a
    >
  </div>
</div>
