p {
	margin: 10px 0 !important;
}

.landing-container {
	width: 100%;
	max-width: 400px;
	margin: 80px auto;
	text-align: center;
}

.navbar {
	background-color: #444 !important;
}

.ck-content {
	height: 200px;
}

.badge-img {
	width: 2.5rem;
}

a {
	text-decoration: none;
}

.card-image-top {
	width: 10rem;
}

.edit-small {
	font-size: 14px;
}
